.Card {
    width: 350px;
    height: 225px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Card img {
    position: absolute;
    top: 0;
    height: 110%;
    z-index: -1;
}

.Card h3 {
    color: white;
    font-size: 30px;
    margin: 20px 0 0 20px;
    width: 190px;
}

.Card p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    align-self: end;
    margin: 0 0 20px 20px;
    width: 190px;
}